.banner {
  height: 500px;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 8%;
  padding-top: 5rem;
  z-index: 1;
}
