.input {
  min-width: 300px;
}

.search_container {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  height: 300px;
  background: rgba(0, 0, 0, 0.568);
  z-index: 9999;
}

.artist_container {
  position: absolute;
  top: 0;
  left: 0;
}

.artist_name {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 0px;
}

.artist_name:hover {
  background: rgba(128, 128, 128, 0.637);
}
